[user]
	email = ogino.natsuki.tm@alumni.tsukuba.ac.jp
	name = nat-chan
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
